{% load authentication_tags %}
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Войти</h3>
			</div>
			<form id="login-form">{% csrf_token %}
				<div class="modal-body">
					{% login_form request %}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Войти</button>
					<button type="close"  data-dismiss="modal" class="btn btn-primary">Закрыть</button>
				</div>
			</form>
		</div>
	</div>
</div>
