{% load static from staticfiles %}
{% load core_tags %}
{% load configs_tags %}

<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>:: Striking Interior Design Company Website ::</title>
<meta name="description" content="Welcome to Striking Interior Design Template">
<meta name="keywords" content="interior, design, services, expert, analysis, structure, luxury, home, kitchen, berdroom, living room, bathroom, kid, office, infrastructure">
<meta name="author" content="Saptarang">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="/static/joyus/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/joyus/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/joyus/css/animate.min.css">
<link rel="stylesheet" href="/static/joyus/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/joyus/css/jquery.datetimepicker.css">
<link rel="stylesheet" href="/static/joyus/css/bxslider.css">
<link rel="stylesheet" href="/static/joyus/css/color.css" />
<link rel="stylesheet" href="/static/joyus/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/joyus/css/develop.css">
<link rel="stylesheet" href="/static/joyus/css/boxed.css" />

<script src="/static/joyus/js/modernizr.custom.js"></script>
<!--[if lt IE 9]>
	<script src="/static/joyus/http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="/static/joyus/images/icons/favicon.ico">
<link rel="apple-touch-icon" href="/static/joyus/images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/joyus/images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/joyus/images/icons/apple-touch-icon-114x114.png">
</head>

<body id="top" onLoad="initialize()">
	<div id="preloader">
		<img src="/static/joyus/images/Preloader.gif" alt="Preloader" />
	</div>
	<div class="boxed">
	<!-- ::: START HEADER ::: -->
		<header id="home" class="cbp-af-header header2">
			{% top_menu request %}
			<!-- Header top end -->
			
			<div class="container">
				<div class="col-md-3 col-sm-3 col-xs-12 logo">
						<a title="company Logo" href="/static/joyus/index.html"><img class="img-responsive" src="/static/joyus/images/company.png" width="200" height="100" alt="Company Logo" /></a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-12 cbp-af-inner rightnav">
					{% base_menu request %}
				</div>
			</div><!-- end container -->
		</header>
		<!-- ::: END ::: -->

		<!--  :::  HOME SLIDER ::: -->
		{% block slider %}
		{% endblock slider %}
		<!-- ::: END ::: -->

		<!--  :::  SPECIALITY ::: -->
		{% block advantages %}
		{% endblock advantages %}
		<!-- ::: END ::: -->

		<!--  :::  FEATURED BOX ::: -->
		{% block trigger1 %}
		{% endblock trigger1 %}
		<!-- ::: END ::: -->

		<!--  :::  RECENT PROJECTS ::: -->
		{% block projects %}
		{% endblock projects %}
		<!-- ::: END ::: -->

		<!--  :::  PROMO BOX ::: -->
		{% block promo %}
		{% endblock promo %}
		<!-- ::: END ::: -->

		<!--  :::  ABOUT ::: -->
		{% block about %}
		{% endblock about %}
		<!-- ::: END ::: -->

		<!--  :::  STATISTICS ::: -->
		{% block stat %}
		{% endblock stat %}
		<!-- ::: END ::: -->

		<!--  :::  TESTIMONIALS ::: -->
		{% block testimonials %}
		{% endblock testimonials %}
		<!-- ::: END ::: -->

		<!--  :::  CLIENTS ::: -->
		{% block clients %}
		{% endblock clients %}
		<!-- ::: END ::: -->

		<!--  :::  CALL TO ACTION BOX ::: -->
		{% block call_to_action %}
		{% endblock call_to_action %}
		<!-- ::: END ::: -->

		<!--  :::  FOOTER ::: -->
		{% footer request %}
		<!-- ::: END ::: -->
	</div><!-- end boxed -->
	<a href="/static/joyus/index.html#top" class="top"><i class="fa fa-angle-up fa-lg"></i></a>

	<!--START SCRIPTS -->
	<script src="/static/joyus/js/jquery.min.js"></script>
	<script src="/static/joyus/js/imagesloaded.pkgd.min.js"></script>
	<script src="/static/joyus/js/jquery-ui.min.js"></script>
	<script src="/static/joyus/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/static/joyus/js/isotope.pkgd.min.js"></script>
	<script src="/static/joyus/js/bootstrap.min.js"></script>
	<script src="/static/joyus/js/classie.js"></script>
	<script src="/static/joyus/js/waypoints.min.js"></script>
	<script src="/static/joyus/js/jquery.countTo.js"></script>
	<script src="/static/joyus/js/jquery.prettyPhoto.js"></script> 
	<script src="/static/joyus/js/wow.min.js"></script>
	<script src="/static/joyus/js/jquery.datetimepicker.js"></script>
	<script src="/static/joyus/js/placeholders.js"></script>
	<script src="/static/joyus/js/jquery.bxslider.min.js"></script>
	<script src="/static/joyus/js/owl.carousel.min.js"></script>
	<script src="/static/joyus/js/custom.js"></script>
	<script src="/static/joyus/js/master.js"></script>
</body>
</html>

