{% load static from staticfiles %}
{% load core_tags %}
{% load configs_tags %}

<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>:: Striking Interior Design Company Website ::</title>
<meta name="description" content="Welcome to Striking Interior Design Template">
<meta name="keywords" content="interior, design, services, expert, analysis, structure, luxury, home, kitchen, berdroom, living room, bathroom, kid, office, infrastructure">
<meta name="author" content="Saptarang">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="/static/joyus/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/joyus/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/joyus/css/animate.min.css">
<link rel="stylesheet" href="/static/joyus/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/joyus/css/jquery.datetimepicker.css">
<link rel="stylesheet" href="/static/joyus/css/bxslider.css">
<link rel="stylesheet" href="/static/joyus/css/color.css" />
<link rel="stylesheet" href="/static/joyus/css/style.css" />
<link rel="stylesheet" href="/static/joyus/css/boxed.css" />

<script src="/static/joyus/js/modernizr.custom.js"></script>
<!--[if lt IE 9]>
	<script src="/static/joyus/http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="/static/joyus/images/icons/favicon.ico">
<link rel="apple-touch-icon" href="/static/joyus/images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/joyus/images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/joyus/images/icons/apple-touch-icon-114x114.png">
</head>

<body id="top" onLoad="initialize()">
	<div id="preloader">
		<img src="/static/joyus/images/Preloader.gif" alt="Preloader" />
	</div>
	<div class="boxed">
	<!-- ::: START HEADER ::: -->
		<header id="home" class="cbp-af-header header2">
			{% top_menu request %}
			<!-- Header top end -->
			
			<div class="container">
				<div class="col-md-3 col-sm-3 col-xs-12 logo">
						<a title="company Logo" href="/static/joyus/index.html"><img class="img-responsive" src="/static/joyus/images/company.png" width="200" height="100" alt="Company Logo" /></a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-12 cbp-af-inner rightnav">
					{% base_menu request %}
				</div>
			</div><!-- end container -->
		</header>
		<!-- ::: END ::: -->

		<!--  :::  HOME SLIDER ::: -->
		{% block slider %}
		{% endblock slider %}
		<!-- ::: END ::: -->

		<!--  :::  SPECIALITY ::: -->
		{% block advantages %}
		{% endblock advantages %}
		<!-- ::: END ::: -->

		<!--  :::  FEATURED BOX ::: -->
		{% block trigger1 %}
		{% endblock trigger1 %}
		<!-- ::: END ::: -->

		<!--  :::  RECENT PROJECTS ::: -->
		<section class="recent-project smallSlider page-block-large BGlight">
			<div class="container wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.50s">
				<div class="col-md-12">
					<div class="section-heading">
							<h2><i class="fa fa-paint-brush square BGsec"></i>Our Projects <small>Our latest creation</small></h2>
							<a class="btn btn-primary" href="/static/joyus/portfolio-2col.html" title="View All Projects">View All Projects <i class="fa fa-chevron-circle-right"></i></a>
							<div class="clear"></div>
					</div>
					
						<ul class="bxslider">
							<li>
								<img class="img-responsive" src="/static/joyus/images/project/recent-home/01.jpg" width="725" height="475" alt="Project Name" />
								<div class="project-data">
									<ul>
											<li><i class="fa fa-building squareSmall outline"></i> <strong>Company</strong>Awesome It Solutions</li>
											<li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure</li>
											<li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
											<li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
									</ul>
									<a class="btn btn-dark btn-lg" href="/static/joyus/portfolio1.html" title="View Details">View Details<i class="fa fa-chevron-circle-right"></i></a>
								</div>
							</li>
							<li>
								 <img class="img-responsive" src="/static/joyus/images/project/recent-home/02.jpg" width="725" height="475" alt="Project Name" />
								<div class="project-data">
									<ul>
											<li><i class="fa fa-home squareSmall outline"></i> <strong>House</strong>Platinum Eve</li>
											<li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Living Room, Kitchen</li>
											<li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
											<li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$30,000</li>
									</ul>
									<a class="btn btn-dark btn-lg" href="/static/joyus/portfolio2.html" title="View Details">View Details<i class="fa fa-chevron-circle-right"></i></a>
								</div>
							</li>
							<li>
								<img class="img-responsive" src="/static/joyus/images/project/recent-home/03.jpg" width="725" height="475" alt="Project Name" />
							 <div class="project-data">
									<ul>
											<li><i class="fa fa-building squareSmall outline"></i> <strong>Company</strong>Globocom Infotec</li>
											<li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Interior</li>
											<li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>3 Week</li>
											<li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$150,000</li>
									</ul>
									<a class="btn btn-dark btn-lg" href="/static/joyus/portfolio3.html" title="View Details">View Details<i class="fa fa-chevron-circle-right"></i></a>
								</div>
							</li>
							
							<li>
								<img class="img-responsive" src="/static/joyus/images/project/recent-home/04.jpg" width="725" height="475" alt="Project Name" />
							 	<div class="project-data">
									<ul>
											<li><i class="fa fa-home squareSmall outline"></i> <strong>Bunglow</strong>Lake Avenue</li>
											<li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Interior &amp; exterior</li>
											<li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>3 Week</li>
											<li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$75,000</li>
									</ul>
									<a class="btn btn-dark btn-lg" href="/static/joyus/portfolio4.html" title="View Details">View Details<i class="fa fa-chevron-circle-right"></i></a>
								</div>
							</li>
						</ul>
				</div>          
			</div><!-- end container -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  PROMO BOX ::: -->
		<section class="promoBox">
			<div class="container-fluid">
				<div class="row">
				
					<div class="col-md-6 commercial wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
						<div class="absShape BGprime opaque">
							<div class="info">
								<h3>Commercial</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent volutpat neque non hendrerit</p>
							</div>
						</div>
						<a href="/static/joyus/portfolio1.html" title=""><i class="fa fa-link square BGdark"></i></a>
					</div>
					
					<div class="col-md-6 residential wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
						<div class="absShape BGsec opaque">
							<div class="info">
								<h3>Residential</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent volutpat neque non hendrerit</p>
							</div>
						</div>
						<div class="col-md-5 col-sm-4 col-xs-12">
						</div>
						<a href="/static/joyus/portfolio2.html" title=""><i class="fa fa-link square BGdark"></i></a>
					</div>
					
				</div><!-- end row -->
			</div><!-- end container -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  ABOUT ::: -->
		<section class="page-block-large">
			<div class="container">
			
				<div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
					<div class="section-heading">
						<h2><i class="fa fa-building square BGsec"></i>About Us <small>Who are we</small></h2>
						<div class="clear"></div>
					</div>
					<p>Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent volutpat neque non hendrerit finibus. Pellentesque sit amet fermentum risus.</p>
					<p>Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi risus, accumsan nec elit ac, molestie varius urna.</p>
					<a class="btn btn-primary" href="/static/joyus/about1.html" title="See All">Read More <i class="fa fa-chevron-circle-right"></i></a>
				</div>
			
				<div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
					<div class="section-heading">
						<h2><i class="fa fa-star square BGsec"></i>Why Striking <small>Why choose us</small></h2>
						<div class="clear"></div>
					</div>
					<ul class="list-main">
						<li>
							<h5>We have highly professional team</h5>
							Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli
						</li>
						<li>
							<h5>We are commited</h5>
							Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli
						</li>
						<li>
							<h5>We deliver best results</h5>
							Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli
						</li>
					</ul>
				</div>
			</div><!-- end container -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  STATISTICS ::: -->
		<section class="stat">
			<div class="boxedb page-block">
				<div class="container">
					<div class="col-md-3 col-sm-6 col-xs-12">
							<i class="fa fa-building-o fa-4x"></i>
							<h1 class="timer wow zoomIn" data-wow-delay="500ms" data-from="0" data-to="5" data-speed="4000"></h1>
							<span class="line"></span>
							<h4>Branches</h4>
							Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
							<i class="fa fa-graduation-cap fa-4x"></i>
							<h1 class="timer wow zoomIn" data-wow-delay="700ms" data-from="0" data-to="50" data-speed="4000"></h1>
							<span class="line"></span>
							<h4>Experts</h4>
							 Noligula sapien, placerat nec quam sit amet, venenatis mattis nunc. Nulla molestie, velit et commodo rutrum 
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
							<i class="fa fa-diamond fa-4x"></i>
							<h1 class="timer wow zoomIn" data-wow-delay="900ms" data-from="0" data-to="500" data-speed="4000"></h1>
							<span class="line"></span>
							<h4>Clients</h4>
							Eante ipsum faucibus sapien, eget porttitorerat vitae nisi. Phasellus vel gravida quam, porttitor rhoncus tortor.
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
							<i class="fa fa-paint-brush fa-4x"></i>
							<h1 class="timer wow zoomIn" data-wow-delay="1100ms" data-from="0" data-to="1500" data-speed="4000"></h1>
							<span class="line"></span>
							<h4>Projects</h4>
							Curabitur facilisis sit amet arcu ut commodo. Nullam a ante quis sem ullamcorper tristique.
					</div>
				</div><!-- end container -->
			</div><!-- end boxBg -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  TESTIMONIALS ::: -->
		<section id="testimonials" class="smallSlider page-block-large">
			<div class="container wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.50s">
				<div class="col-md-12">
				
				<div class="section-heading">
						<h2><i class="fa fa-quote-left square BGsec"></i>Testimonials <small>What people say about us!</small></h2>
						<a class="btn btn-primary" href="/static/joyus/testimonials.html" title="View All Testimonials">View All Testimonials <i class="fa fa-chevron-circle-right"></i></a>
						<div class="clear"></div>
				</div>
			
				<ul class="bxslider">
					<li class=" item">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="pic"><img class="img-responsive" src="/static/joyus/images/quote/01.jpg" alt="Jenny Doe" width="100" height="100" /></div>
							<div class="info">
								<h4>Jenny Doe<span>CEO</span></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan. Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in urna semulla facilisi.</p>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="pic"><img class="img-responsive" src="/static/joyus/images/quote/02.jpg" alt="John Doe" width="100" height="100" /></div>
							<div class="info">
								<h4>John Doe<span>Business Executive</span></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id ipsum facilisis, congue ex at, tempus lacus. Sed rhoncus tincidunt felis, eu tempus metus pretium nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
							</div>
						</div>
					</li><!-- end item -->
					<li class=" item">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="pic"><img class="img-responsive" src="/static/joyus/images/quote/03.jpg" alt="Jarvis Doe" width="100" height="100" /></div>
							<div class="info">
								<h4>Jarvis Doe<span>Design Expert</span></h4>
								<p>Sed velit nulla, hendrerit nec euismod eu, interdum eget ipsum. Sed turpis lacus, egestas in nulla vel, rutrum auctor felis. Integer ac congue arcu. Nullam maximus elit purus. Pellentesque habitant morbi tristique senectus</p>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="pic"><img class="img-responsive" src="/static/joyus/images/quote/04.jpg" alt="Cyra Doe" width="100" height="100" /></div>
							<div class="info">
								<h4>Cyra Doe<span>Housewife</span></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan. Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in urna semulla facilisi.</p>
							</div>
						</div>
					</li><!-- end item -->
					<li class=" item">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="pic"><img class="img-responsive" src="/static/joyus/images/quote/05.jpg" alt="Shawn Doe" width="100" height="100" /></div>
							<div class="info">
								<h4>Shawn Doe<span>Business Executive</span></h4>
								<p> Keset netus et malesuada fames ac turpis egestas. Mauris justo dolor, egestas sed feugiat vitae, iaculis vulputate lorem. Vivamus in ex odio. Sed eget fringilla dui, ut auctor odio. Sed in diam sit amet dolor bibendum suscipit.</p>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="pic"><img class="img-responsive" src="/static/joyus/images/quote/06.jpg" alt="Sandra Doe" width="100" height="100" /></div>
							<div class="info">
								<h4>Sandra Doe<span>Business Executive</span></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo nunc accumsan sollicitudin. Cras molestie est quis miit inermentum nulla. Donec in urna semulla facilisi.</p>
							</div>
						</div>
					</li><!-- end item -->
				</ul>
			 </div> 
			</div><!-- end container -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  CLIENTS ::: -->
		<section class="client page-block">
			<div class="container">
				<div class="col-md-5 col-sm-5 col-xs-12 wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
						<h2><i class="fa fa-diamond square BGsec"></i>Clients <small>Precious  &amp; Happy clients</small></h2>
				</div>
				
				<div class="col-md-7 col-sm-7 col-xs-12 wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
					<div class="slider4">
						<div class="slide"><img src="/static/joyus/images/clients/01.png" alt="Client name"></div>
						<div class="slide"><img src="/static/joyus/images/clients/02.png" alt="Client name"></div>
						<div class="slide"><img src="/static/joyus/images/clients/03.png" alt="Client name"></div>
						<div class="slide"><img src="/static/joyus/images/clients/04.png" alt="Client name"></div>
						<div class="slide"><img src="/static/joyus/images/clients/05.png" alt="Client name"></div>
						<div class="slide"><img src="/static/joyus/images/clients/06.png" alt="Client name"></div>
						<div class="slide"><img src="/static/joyus/images/clients/07.png" alt="Client name"></div>
					</div>
				</div><!-- end col-md-4 --> 
			</div><!-- end container -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  CALL TO ACTION BOX ::: -->
		<section class="calltoAction">
			<div class="boxedw page-block">
				<div class="container">
					<div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
							<h2>Get A Quote<small>With Experts Advice</small></h2>
							<p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique </p>
							<a class="btn btn-primary" href="/static/joyus/contact1.html" title="Get A Quote">Get A Quote <i class="fa fa-chevron-circle-right"></i></a>
							<i class="fa fa-file opaque"></i>
					</div>
					<div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
						<h2>Subscribe<small>to Enewsletter</small></h2>
						<form action="http://dezinethemes.com/envato/striking/200/01/09/form/subscribe.php" id="subscribeForm" method="post">
							<div class="form-row">
								 <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control" placeholder="Enter Your Email Address Here..." />
								 <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
								 <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;" class="btn btn-primary" />
							</div>
						</form>
						<i class="fa fa-envelope opaque"></i>
					</div>
				</div><!-- end container -->
			</div> <!-- end boxedw -->
		</section>
		<!-- ::: END ::: -->

		<!--  :::  FOOTER ::: -->
		<footer class="footer2 BGdark page-block-small">
			<div class="container">
			
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
					<img class="img-responsive pull-left" src="/static/joyus/images/company-grey.png" width="200" height="50" alt="" />
						<ul class="social list-inline pull-right">
							<li><a class="fb" href="/static/joyus/index.html#" title="Follow Us on Facebook" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw" href="/static/joyus/index.html#" title="Follow Us on Twitter" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></li>
							<li><a class="yt" href="/static/joyus/index.html#" title="Watch Our Videos" data-toggle="tooltip" data-placement="top"><i class="fa fa-youtube-play"></i></a></li>
							<li><a class="pt" href="/static/joyus/index.html#" title="Watch Our Videos" data-toggle="tooltip" data-placement="top"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="li" href="/static/joyus/index.html#" title="Follow Us on LinkedIn" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="fl" href="/static/joyus/index.html#" title="Watch Our gallery" data-toggle="tooltip" data-placement="top"><i class="fa fa-flickr"></i></a></li>
							<li><a class="gplus" href="/static/joyus/index.html#" title="Google Plus" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="ig" href="/static/joyus/index.html#" title="Watch Our Gallery" data-toggle="tooltip" data-placement="top"><i class="fa fa-instagram"></i></a></li>
							<li><a class="vk" href="/static/joyus/index.html#" title="Follow Us on vk" data-toggle="tooltip" data-placement="top"><i class="fa fa-vk"></i></a></li>
						</ul>
						<div class="clear"></div>
					
					<hr class="light">
						
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
					<h5>About</h5>
					<p>Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Lorem Loripiscing elit. Maecenas quis quam non tellus ultricies accumsan.</p>
					<a href="/static/joyus/about2.html" title="About Company">Read More <i class="fa fa-chevron-circle-right"></i></a>
				</div><!-- end content box -->
				
				<div class="col-md-2 col-sm-3 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
					<h5>Quick Links</h5>
					<ul>
						<li><a href="/static/joyus/portfolio-4col.html" title="Portfolio">Portfolio</a></li>
						<li><a href="/static/joyus/gallery-full-width.html" title="Gallery Full Width">Gallery</a></li>
						<li><a href="/static/joyus/blog.html" title="Blog">Blog</a></li>
						<li><a href="/static/joyus/press.html">Press</a></li>
						<li><a href="/static/joyus/contact2.html" title="Contact">Contact</a></li>
					</ul>
				</div><!-- end content box -->
				
				<div class="col-md-3 col-sm-5 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
					<h5>Services</h5>
					<ul>
						<li><a href="/static/joyus/services-single-1.html" title="Commercial design">Commercial Interior Design</a></li>
						<li><a href="/static/joyus/services-single-2.html" title="Interior design">Residential Interior Design</a></li>
						<li><a href="/static/joyus/services-single-3.html" title="Exterior design">Exterior design</a></li>
						<li><a href="/static/joyus/services-single-4.html" title="Renovation">Renovation</a></li>
						<li><a href="/static/joyus/services-single-4.html" title="Maintainance">Annual Maintainance</a></li>
					</ul>
				</div><!-- end content box -->
				
				<div class="col-md-3 col-sm-4 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
					<h5>Get in touch</h5>
					<div class="office">
						<span><i class="fa fa-map-marker"></i> 123 Main Street<br>
							Your City, State Country.</span> 
						<span><i class="fa fa-phone"></i> (123) 456-7890 <br>(123) 456-7890 </span>
						<span><i class="fa fa-fax"></i> (123) 456-7890</span>
						<span><i class="fa fa-envelope-o"></i> <a href="/static/joyus/mailto:info@companynme.com" title="">info@companynme.com</a> </span>
					</div>   
				</div><!-- end content box -->
				
				<div class="clear"></div>
				<hr class="light">
			
				<!-- ::: START COPYRIGHT ::: -->
				<div class="copyright wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s" data-wow-offset="0"> 
					<div class="col-md-5 col-sm-6 col-xs-12">
						<p><strong>Striking</strong> &copy; 2015. All Rights Reserved.<br> Landing Page Template Designed &amp; Developed By: <a href="/static/joyus/http://themeforest.net/user/saptarang?ref=saptarang" title="Saptarang" target="_blank"><strong>Saptarang</strong></a></p>
					</div>
					<div class="col-md-7 col-sm-6 col-xs-12 text-right">
						<ul class="list-inline">
								<li><a href="/static/joyus/terms.html" title="Terms & Conditions">Terms &amp; Conditions</a></li>
								<li><a href="/static/joyus/privacy.html" title="Privacy Policy">Privacy Policy</a></li>
								<li><a href="/static/joyus/sitemap.html" title="Sitemap">Sitemap</a></li>
						</ul>
					</div>
				</div><!-- end container -->
			</div><!-- end copyright --> 

		</footer>
		<!-- ::: END ::: -->
	</div><!-- end boxed -->
	<a href="/static/joyus/index.html#top" class="top"><i class="fa fa-angle-up fa-lg"></i></a>

	<!--START SCRIPTS -->
	<script src="/static/joyus/js/jquery.min.js"></script>
	<script src="/static/joyus/js/imagesloaded.pkgd.min.js"></script>
	<script src="/static/joyus/js/jquery-ui.min.js"></script>
	<script src="/static/joyus/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/static/joyus/js/isotope.pkgd.min.js"></script>
	<script src="/static/joyus/js/bootstrap.min.js"></script>
	<script src="/static/joyus/js/classie.js"></script>
	<script src="/static/joyus/js/waypoints.min.js"></script>
	<script src="/static/joyus/js/jquery.countTo.js"></script>
	<script src="/static/joyus/js/jquery.prettyPhoto.js"></script> 
	<script src="/static/joyus/js/wow.min.js"></script>
	<script src="/static/joyus/js/jquery.datetimepicker.js"></script>
	<script src="/static/joyus/js/placeholders.js"></script>
	<script src="/static/joyus/js/jquery.bxslider.min.js"></script>
	<script src="/static/joyus/js/owl.carousel.min.js"></script>
	<script src="/static/joyus/js/custom.js"></script>
	<script src="/static/joyus/js/master.js"></script>
</body>
</html>

