{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Наши работы" "project_list" %}
{% endblock breadcrumbs %}


{% block content %}
	{% render_breadcrumbs "configs/breadcrumbs/main.html" %}
	<section class="project-gallery page-block-large">
		<div class="container">

			<div class="filter-button-group button-group text-center">
				<button class="btn btn-dark active" data-filter="*">Все</button>
				{% for filter in filters %}
					<button class="btn btn-dark" data-filter=".{{ filter.slug }}">{{ filter.name }}</button>
				{% endfor %}
			</div>
				<div class="grid four">

					{% for project in projects %}
						<div class="item {{ project.filters_to_str }} popup-gallery">
							<a href="{{ project.get_image.get_url }}">
								<img class="img-responsive" src="{{ project.get_image.get_url }}" width="300" height="300" alt="" />
								<div class="overlay hasBoth"></div>
							</a>
						</div>
					{% endfor %}

				</div>
		</div>
	</section>
{% endblock content %}
