.seo-title{
	text-align: center;
	margin-bottom: 3em;
}
.seo-title h1{
    font-weight: 400;
}
.tip-potolka h2 small{
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}
.tip-potolka h2 {
    display: block;
    font-weight: 100;
    text-transform: none;
    font-size: 1.50em;
}