.seo-title{
	text-align: center;
	margin-bottom: 3em;
}
.seo-title h1{
    font-weight: 400;
}
.tip-potolka h2 small{
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}
.tip-potolka h2 {
    display: block;
    font-weight: 100;
    text-transform: none;
    font-size: 1.50em;
}
.tip-potolka p{
	margin-bottom: 5px;
}
.project-data h3 {
    font-size: 1.40em;
    padding-left: 24px;
}
.calltoAction i.fa.fa-calculator {
    top: auto;
    right: 0.5em;
    bottom: 0.5em;
    left: auto;
    position: absolute;
    font-size: 3em;
    margin: 0;
    opacity: 0.8;
    color: #eeae1e;
}
.calltoAction i.fa.fa-volume-control-phone {
    top: auto;
    right: 0.5em;
    bottom: 0.5em;
    left: auto;
    position: absolute;
    font-size: 3em;
    margin: 0;
    opacity: 0.8;
    color: #eeae1e;
}
input.phone {
    background: url("/static/joyus/images/ico_ph.png") 16px 15px no-repeat rgb(255, 255, 255);
    padding-left: 40px;
}
input.phone.form-control {
    padding-left: 40px;
}
.predl-uslugi-itogo b {
color: #E54B49;
}
.predl-uslugi-itogo {
    font-size: 20px;
    padding: 10px 23px;
}
.predl-uslugi-itogo .fa{
	margin-left: 6px;
}
.item.zoom-gallery a i,.item.popup-gallery a i{
    background-color: #eeae1e;
}
.featured h2, .featured h2 small {
    color: #fff;
    text-align: center;
}
.featured h2 {
    font-size: 3em;
    font-weight: 100;
}
.header_zakaz {
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    width: 311px;
    overflow: hidden;
    margin: 10px auto;
    padding: 10px 0;
    position: relative;
    min-height: 60px;
}
.header_zakaz .header-zakaz_order-button {
    position: absolute;
    top: 11px;
    left: 60px;
}
.header_zakaz .header-zakaz-form {
    position: absolute;
    top: 11px;
    left: 311px;
    width: 311px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.header_zakaz.open .header-zakaz_order-button {
    left: -311px;
}
.header_zakaz.open .header-zakaz-form {
    left: 0;
}
.header_zakaz .header-zakaz-form button{
    margin-top: -3px;
}
.section-heading h3 {
    float: left;
    white-space: nowrap;
    font-size: 1.85em;
    text-transform: uppercase;
    margin: 0;
}
.section-heading h3 .fa{
    background-color: #eeae1e;
    font-size: 0.75em;
    float: left;
    margin-right: 0.55em;
    width: 2.35em;
    height: 2.35em;
    line-height: 2.35em;
    color: #fff;
    text-align: center;
}
.section-heading.folio-home {
    padding: 5.7em 0 0em;
    margin-bottom: 2.5em;
}
.header_zakaz button.btn.btn-primary {
    border: 1px solid;
}
.zoom-gallery a:hover::before,.popup-gallery a:hover::before{

    bottom: 50%;
    right: 40%;
    opacity: 1;
}
    .page-block-large a.btn.btn-primary {
    margin-top: 10px;
}
.stat h3 {
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
}
.tip-potolka.item {
    padding: 0 15px;
}
#owl-recent-project-2 .BGprime {
    font-size: 16px;
    width: 1.6em;
    height: 2.1em;
    background-color: #eeae1e;
}
#owl-recent-project-2:hover .owl-prev,
#owl-recent-project-2:hover .owl-next{
    opacity: 1;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

}
#owl-recent-project-2:hover .owl-prev{
    left: -20px;
}
#owl-recent-project-2:hover .owl-next{
    right: -25px;
}
#owl-recent-project-2 .owl-next {
    right: 0;
    position: absolute;
    top: 30%;
    background: none!important;
    padding: 0!important;
}
#owl-recent-project-2 .owl-prev {
    left: 0;
    position: absolute;
    top: 30%;
    background: none!important;
    padding: 0!important;
}
#owl-recent-project-2 .owl-prev,#owl-recent-project-2 .owl-next{
    opacity: 0;
}
.recent-project ul.bxslider li .project-data strong {
    margin-right: 10px;
}
.zoom-gallery a::before,.popup-gallery a::before{
    position: absolute;
    content: "\f00e";
    font-family: FontAwesome;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    bottom:0;
    color: #fff;
    background: #eeae1e;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 16px;
    font-size: 22px;
    opacity: 0;
    right: 0;
}
footer.footer2 hr.light2 {
    margin: 0;
}
{

}
#forma-zakaza .form-control, #forma-zakaza .form-control:focus {
    padding-left: 1.5em;
    height: 3em;
    margin: 1.10em 0;
}
.copyright.wow.fadeInUp strong {
    font-family: 'Aclonica', sans-serif;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black url(/static/joyus/images/AjaxLoader.gif) center center no-repeat;
    opacity: .5;
}
#calculator_form .form-control{
    margin: 0;
}
#calculator_form .col-md-6, .form-bottom{
    margin-bottom: 10px;
}
span.fx_waring {
    color: #E54B49;
    margin-left: 2px;
}
ul#id_brend_polotna {
    list-style-type: none;
    padding-left: 0;
}
.form-bottom {
    overflow: hidden;
    line-height: 15px;
}
ul#id_brend_polotna li{
    float: left;
    margin-right: 14px;
}
select#id_tip_polotna {
    width: 80%;
}
.col-md-6 .form-height label{
    height: 30px;
}
span.fx_input{
    float: right;
    font-size: 24px;
}
#calculator_form input.form-control{
    float: left;
    width: 80%;
}
.form-text p{
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #E54B49;
}
#calculator_form .modal-footer {
    overflow: hidden;
    border-top: 0;
}

input#id_phone,.phone.form-control:focus {
    padding-left: 40px!important;

}
#myModal-calculator input,#myModal-calculator select#id_tip_polotna{
    position: relative;
    background-color: transparent;
    padding-left: 1.5em;
    height: 3em;
    margin: 1.10em 0;
}
ul#id_brend_polotna input{
    height: 1em;
}
