{% extends "base.html" %}
{% load ceilings_tags %}
{% load flatblocks %}
{% load cropping %}


{% block breadcrumbs %}
	<!--  :::  BREADCRUMBS ::: -->
	<section class="breadcrumbs breadcrumbs2 servicesBG wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
		<div class="boxedeb">
			<div class="container page-block-small">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2>{{ ceiling.name }}</h2>
					<span class="line"></span>
					<div class="rightText">
						<a href="index.html" title="Home">Home</a> / <a href="services.html" title="Services">Services</a> / Commercial Interior Design
					</div>
				</div>
			</div><!--end-container-->
		</div>
	</section>
	<!-- ::: END ::: -->
{% endblock breadcrumbs %}


{% block content %}
	<section id="services-single" class="page-block-large">
		<div class="container">

			<!-- start SIDEBAR -->
			<div class="sidebar">
				<div class="col-md-4 col-sm-4 col-xs-12 text-center wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="1s">
					<div class="gapM"></div>
						<ul class="social list-inline">
							<li><a class="fb" href="team-single.html#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw" href="team-single.html#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a class="yt" href="team-single.html#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
							<li><a class="li" href="team-single.html#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="gplus" href="team-single.html#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="vk" href="team-single.html#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
						</ul>

					{% catalog_list request %}

				</div><!-- end col-md-4 -->
			</div>
			<!-- end SIDEBAR -->

			<div class="col-md-8 col-sm-8 col-xs-12 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
				<h1 class="big">
				 {% for word in ceiling.split_name %}
						{% if forloop.first %}
							<strong>{{ word }}</strong>
						{% else %}{{ word }} {% endif %}
					{% endfor %}
				</h1>

				<div class="price">{{ ceiling.price }} руб/м²</div>
				<div class="smallSlider">
					<ul class="bxslider">
						{% for image in ceiling.get_all_images %}
							<li>
								<img class="img-responsive" src="{{ image.get_url }}" width="725" height="475" alt="Project Name" />
							</li>
						{% endfor %}
					</ul>
				</div>
				<br>

				{{ ceiling.text|safe }}

			 	<h2 class="prime text-capitalize">Отправить заявку</h2>
				<p>Оставьте Ваши данные и мы Вам перезвоним в течении 5 минут.</p>

				<form id="contact_form" method="post" action="/contact-form/">{% csrf_token %}
					<div class="field-wrapper row">
						<div class="col-md-6">
							{{ form.name }}
						</div>
						<div class="col-md-6">
							{{ form.phone }}
						</div>
						<div class="col-md-1">
							<input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" />
						</div>
					</div>
				</form>
			</div><!-- end col-md-4 -->

	 </div><!-- end container -->
</section>
{% endblock content %}
