{% extends "base.html" %}
{% load ceilings_tags %}
{% load configs_tags %}
{% load flatblocks %}
{% load cropping %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
	{% breadcrumb "Главная" "/" %}
	{% breadcrumb "Каталог товаров" "ceiling_list" %}
	{% breadcrumb ceiling.name ceiling.get_url %}
{% endblock breadcrumbs %}



{% block content %}
	{% render_breadcrumbs "configs/breadcrumbs/main.html" %}
	<section id="services-single" class="page-block-large">
		<div class="container">

			<!-- start SIDEBAR -->
			<div class="sidebar">
				<div class="col-md-4 col-sm-4 col-xs-12 text-center wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="1s">
					<div class="gapM"></div>
						<ul class="social list-inline">
							<li><a class="fb" href="team-single.html#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw" href="team-single.html#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a class="yt" href="team-single.html#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
							<li><a class="li" href="team-single.html#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="gplus" href="team-single.html#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="vk" href="team-single.html#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
						</ul>

					{% catalog_list request %}

				</div><!-- end col-md-4 -->
			</div>
			<!-- end SIDEBAR -->

			<div class="col-md-8 col-sm-8 col-xs-12 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
				<h1 class="big">
				 {% for word in ceiling.split_name %}
						{% if forloop.first %}
							<strong>{{ word }}</strong>
						{% else %}{{ word }} {% endif %}
					{% endfor %}
				</h1>

				<div style="overflow: hidden;">
					<div class="price">{{ ceiling.price }} руб/м²</div>
				</div>
				<div class="smallSlider">
					<ul class="bxslider">
						{% for image in ceiling.get_all_images %}
							<li>
								<img class="img-responsive" src="{% cropped_thumbnail image "cropping_750x455" scale=1 %}" width="100%" alt="Project Name" />
							</li>
						{% endfor %}
					</ul>
				</div>
				<br>

				{{ ceiling.preview_text|safe }}

				<section class="featured BGprime page-block-small" style="margin: 25px 0;padding: 15px 0 0px 0;">
					<div class="wow fadeInDown" data-wow-duration="0.30s" data-wow-delay="0.30s">
						<div class="col-md-12">
							<h2><small>{{ ceiling.name }}</small>Закажите прямо сейчас</h2>
							<div class="ostav_zayavku">
								{% round_form request %}
							</div>
						</div>
					</div>
				</section>

				{{ ceiling.text|safe }}

				</form>
			</div><!-- end col-md-4 -->

	 </div><!-- end container -->
</section>
{% endblock content %}
