{% load mptt_tags %}
<aside class="widget wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
	<h4 class="widget-title">Каталог</h4>
	<ul class="list-default">
		{% for type in filter_types %}
			<li>
				<a href="{{ type.get_url }}" title="">{{ type.name }}</a>
				{% if not type.get_filters.length > 0 %}
					<ul class="children">
							{% for filter in type.get_filters %}
								<li><a href="{{ filter.get_url }}" title="">{{ filter.name }}</a></li>
							{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</aside>
