{% extends "base.html" %}
{% load configs_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{% breadcrumb "Главная" "/" %}
	{% breadcrumb "Контакты" "contacts" %}
{% endblock breadcrumbs %}


{% block content %}
{% render_breadcrumbs "configs/breadcrumbs/main.html" %}

<div class="maps"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad33dd6f83af767e94e7f5d62727be2fbf83fa17e6ba9d98c8b3b0ab122c56061&amp;width=100%25&amp;height=484&amp;lang=ru_RU&amp;scroll=true"></script></div>

<section id="contact" class="opt">
	<div class="contact-info BGprime page-block">
		<div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
			<div class="office">
					<h2 class="white text-center">Свяжитесь с нами</h2>
					<hr class="light">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<span><i class="fa fa-map-marker squareSmall BGsec"></i> Адрес: г. Краснодар,</br>ул.Чайковского 27</br> (цокольный этаж)</span>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12">
						<span><i class="fa fa-phone squareSmall BGsec"></i>
							‎+7 (962) 762-15-55</br> 
							‎+7 (961) 826-40-94
						</span>
					 </div>
						<div class="col-md-4 col-sm-12 col-xs-12">
						<span><i class="fa fa-envelope squareSmall BGsec"></i> <a href="mailto:{{ config.site_email }}" title="Contact">{{ config.site_email }}</a></span>
					</div>
			<div class="clear"></div>
			</div>
		</div>
	</div>
</section>
<section class="featured BGprime page-block-small" style="padding: 15px 0 0px 0;">
	<div class="wow fadeInDown" data-wow-duration="0.30s" data-wow-delay="0.30s">
		<div class="col-md-12">
			<h2><small>Закажите обратный звонок</small> прямо сейчас</h2>
			<div class="ostav_zayavku">
				{% round_form2 request %}
			</div>
		</div>
	</div>
</section>

{% endblock content %}
