{% load sitetree %}

<ul class="nav navbar-nav">
			<li>
				<a href="#" data-toggle="modal" data-target="#myModal-calculator">Рассчитать потолок</a>
			</li>
	{% for item in sitetree_items %}
		{% if item.has_children %}
			<li class="sub">
				<a href="{% sitetree_url for item %}" title="{{ item.title_resolved }}">{{ item.title_resolved }}</a>
			 	{% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}
			</li>
		{% else %}
			<li class="">
				<a href="{% sitetree_url for item %}" title="{{ item.title_resolved }}">{{ item.title_resolved }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>