<footer class="footer2 BGdark page-block-small">
	<div class="container">
	
		<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
			<img class="img-responsive pull-left" src="/static/joyus/images/company-grey.png" width="200" height="50" alt="" />
				<ul class="social list-inline pull-right">
					<li><a class="fb" href="/static/joyus/index.html#" title="Follow Us on Facebook" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a></li>
					<li><a class="tw" href="/static/joyus/index.html#" title="Follow Us on Twitter" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></li>
					<li><a class="yt" href="/static/joyus/index.html#" title="Watch Our Videos" data-toggle="tooltip" data-placement="top"><i class="fa fa-youtube-play"></i></a></li>
					<li><a class="pt" href="/static/joyus/index.html#" title="Watch Our Videos" data-toggle="tooltip" data-placement="top"><i class="fa fa-pinterest"></i></a></li>
					<li><a class="li" href="/static/joyus/index.html#" title="Follow Us on LinkedIn" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></li>
					<li><a class="fl" href="/static/joyus/index.html#" title="Watch Our gallery" data-toggle="tooltip" data-placement="top"><i class="fa fa-flickr"></i></a></li>
					<li><a class="gplus" href="/static/joyus/index.html#" title="Google Plus" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
					<li><a class="ig" href="/static/joyus/index.html#" title="Watch Our Gallery" data-toggle="tooltip" data-placement="top"><i class="fa fa-instagram"></i></a></li>
					<li><a class="vk" href="/static/joyus/index.html#" title="Follow Us on vk" data-toggle="tooltip" data-placement="top"><i class="fa fa-vk"></i></a></li>
				</ul>
				<div class="clear"></div>
			
			<hr class="light">
				
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
			<h5>Натяжные поолки от компании "Joyus"</h5>
			<p>Результатом работы мастеров нашей компании станут прочные, красивые натяжные потолки недорого, которые удачно замаскируют системы освещения, кондиционирования, сигнализации, станут достойным украшением интерьера. Установка конструкции не разорит семейный бюджет, так как стоимость работ с установкой составляет 390 руб. за 1 м 2. Высокое качество материалов, идеальный монтаж гарантируют сохранение функциональных и эстетических показателей в течение многих лет.</p>
		</div><!-- end content box -->
		
		<div class="col-md-2 col-sm-3 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
			<h5>Посетите станицы</h5>
			<ul>
				<li><a href="#">Акции</a></li>
				<li><a href="/projects" title="Наши работы">Наши работы</a></li>
				<li><a href="/natyazhnye-potolki" title="Наши услуги">Наши услуги</a></li>
				<li><a href="/posts" title="Интересные статьи">Интересные статьи</a></li>
			</ul>
		</div><!-- end content box -->
		
		<div class="col-md-3 col-sm-5 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
			<h5>Сервиз и потдержка</h5>
			<ul>
				<li><a href="/pages/contacts/" title="Commercial design">Контакты</a></li>
				<li><a href="#" title="Расчет стоимости потолка">Расчет стоимости потолка</a></li>
				<li><a href="#" title="Вызов замерщика">Вызов замерщика</a></li>
				<li><a href="#" title="Прайс лист">Прайс лист</a></li>
			</ul>
		</div><!-- end content box -->
		
		<div class="col-md-3 col-sm-4 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
			<h5>Контактная информация</h5>
			<div class="office">
				<span><i class="fa fa-map-marker"></i>г. Новороссийск<br>
					Краснодарский край</span> 
				<span><i class="fa fa-phone"></i> (123) 456-7890</span>
				<span><i class="fa fa-envelope-o"></i> <a href="/static/joyus/mailto:info@companynme.com" title="">info@companynme.com</a> </span>
			</div>   
		</div><!-- end content box -->
		
		<div class="clear"></div>
		<hr class="light2">
	
		<!-- ::: START COPYRIGHT ::: -->
		<div class="copyright wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s" data-wow-offset="0"> 
			<div class="col-md-5 col-sm-6 col-xs-12">
				<p>Разработка сайта<a href="http://evilmonkey.ru/" title="Evilmonkey" target="_blank"><strong>Evilmonkey</strong></a></p>
			</div>
		</div><!-- end container -->
	</div><!-- end copyright --> 

</footer>