<div class="search-properties padding-top padding-bottom">
		<div class="container">
			<div class="search-properties-wrapper">
				<div class="sunhouse-title white">
					<div class="icon-image"><img src="/static/assets/images/logo-title-2.png" alt="" class="img-responsive"/><!--.icon-title--><!--      i.icon-mirror--></div>
					<h2 class="main-title">search properties</h2>

					<p class="sub-title">Even the all-powerful Pointing has no control about the blind texts it is an almost</p></div>
				<div class="search-properties-content">
					<form class="search-form row">
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">keyword</label><input type="text" placeholder="enter your keyword" class="input-form"/></div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">property type</label><select class="input-form selectbox">
								<option value="all type">all type</option>
								<option value="type one">type one</option>
								<option value="type two">type one</option>
							</select></div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">status</label><select class="input-form selectbox">
								<option value="all status">all status</option>
								<option value="status one">status one</option>
								<option value="status two">status two</option>
							</select></div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">location</label><input type="text" placeholder="enter location" class="input-form"/></div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">bedroom</label><select class="input-form selectbox">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select></div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">bathroom</label><select class="input-form selectbox">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select></div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">area (sq)</label>

								<div data-range_min="10" data-range_max="900" data-cur_min="10" data-cur_max="900" class="nstSlider">
									<div class="bar"></div>
									<div class="leftGrip"></div>
									<div class="rightGrip"></div>
								</div>
								<div class="leftLabel"></div>
								<div class="rightLabel"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="search-form-group white"><label class="title-search-form">price (.000 $)</label>

								<div data-range_min="10" data-range_max="990" data-cur_min="120" data-cur_max="800" class="nstSlider">
									<div class="bar"></div>
									<div class="leftGrip"></div>
									<div class="rightGrip"></div>
								</div>
								<div class="leftLabel"></div>
								<div class="rightLabel"></div>
							</div>
						</div>
					</form>
					<div class="group-button-search"><a data-toggle="collapse" href="http://swlabs.co/sunhouse/v2.0/.search-propertie-filters" class="more-filter">
						<div class="text-1">more filter</div>
						<div class="text-2 hide">less filter</div>
						<i class="icon fa fa-angle-down"></i></a>

						<div class="btn-search"><a href="search-properties.html" class="btn btn-transparent white">search properties</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="search-propertie-filters collapse">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="air-conditioning" type="checkbox"/><label for="air-conditioning" class="type-checkbox">Air Conditioning</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="pool" type="checkbox" checked="checked"/><label for="pool" class="type-checkbox">pool</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="lift" type="checkbox"/><label for="lift" class="type-checkbox">lift</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="near-school" type="checkbox" checked="checked"/><label for="near-school" class="type-checkbox">near school</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="cable-tv" type="checkbox"/><label for="cable-tv" class="type-checkbox">cable TV</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="dishwasher" type="checkbox"/><label for="dishwasher" class="type-checkbox">Dishwasher</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="near-hospital" type="checkbox"/><label for="near-hospital" class="type-checkbox">near hospital</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="balcony" type="checkbox"/><label for="balcony" class="type-checkbox">Balcony</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="near-church" type="checkbox" checked="checked"/><label for="near-church" class="type-checkbox">near church</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="garages" type="checkbox" checked="checked"/><label for="garages" class="type-checkbox">Garages</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="wi-fi" type="checkbox" checked="checked"/><label for="wi-fi" class="type-checkbox">wi-fi</label></div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4">
					<div class="search-form-group white"><input id="bedding" type="checkbox" checked="checked"/><label for="bedding" class="type-checkbox">Bedding</label></div>
				</div>
			</div>
		</div>
	</div>