<div class="footer-main">
	<div class="container">
		<div class="footer-main-wrapper padding-top-2 padding-bottom row">
			<div class="col-md-6 col-2">
				<div class="row">
					<div class="col-sm-6 col-xs-6">
						<div class="sunhouse-widget widget">
							<div class=""><img width="250" src="{{ config.get_logo2_url }}" alt=""/></div>
							{# <div class="footer-logo footer-logo-black"><img src="/static/assets/images/logo-1.png" alt=""/></div> #}
							<div class="content-widget">
								<p class="text">{{ config.site_description|safe|truncatechars:200 }}</p>
								{% for phone in config.get_all_phones %}
									<div class="phone-number"><i class="fa fa-phone"></i><span>{{ phone }}</span></div>
								{% endfor %}
								<div class="socials"><a href="index.html#" class="link facebook"><i class="fa fa-facebook-square"></i></a><a href="index.html#" class="link twitter"><i class="fa fa-twitter"></i></a><a href="index.html#" class="link pinterest"><i class="fa fa-pinterest"></i></a><a href="index.html#" class="link blog"><i class="fa fa-rss"></i></a><a href="index.html#" class="link instagram"><i class="fa fa-instagram"></i></a><a href="index.html#" class="link dribbble"><i class="fa fa-dribbble"></i></a></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6">
						<div class="widget">
							<div class="useful-link-widget">
								<div class="title-widget">Полезные ссылки</div>
								<div class="content-widget">
									<div class="row">
										<div class="col-xs-12">
											<ul class="list-unstyled">
												{% for page in page_list %}
													<li><a href="{{ page.get_url }}">{{ page.name }}</a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-2">
				<div class="row">
					<div class="col-sm-6 col-xs-6">
						<div class="widget">
							<div class="form-blog-widget">
								<div class="title-widget">Последние статьи</div>
								<div class="content-widget">

									{% for post in post_list|slice:":3" %}
									<div class="media">
										<div class="media-left"><a href="index.html#" class="img-hover">
											<img src="/static/assets/images/gallery/gallery-04.jpg" alt=""/></a>
										</div>
										<div class="media-right">
											<a href="{{ post.get_url }}" class="title">{{ post.name }}</a>
											<div class="info">
												<div class="date-created item"><a href="{{ post.get_url }}" class="text">{{ post.updated_at }}</a></div>
											</div>
										</div>
									</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6">
						<div class="widget">
							<div class="gallery-widget">
								<div class="title-widget">Последние объекты</div>
								<div class="content-widget">
									<div class="gallery-list">
										{% for project in project_list %}
											<a href="{{ project.get_url }}" class="thumb img-hover">
												<img src="{{ project.get_all_images.0.get_url }}" alt="" class="img-responsive"/>
											</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>