{% extends "base.html" %}
{% load core_tags %}
{% load flatblocks %}
{% load cropping %}


{% block content %}
<section class="member-info page-block-large">
	<div class="container">
		
		<div class="col-md-4 col-sm-4 col-xs-12 text-center wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="1s">
		<div class="img">
			<a href="team-single.html" title="Person Name"><img class="img-responsive" src="/static/joyus/images/people/rectangle/02.jpg" alt="img"></a>
		</div>
		<div class="gapM"></div>
		<ul class="social list-inline">
			<li><a class="fb" href="team-single.html#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a class="tw" href="team-single.html#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a class="yt" href="team-single.html#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
			<li><a class="li" href="team-single.html#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
			<li><a class="gplus" href="team-single.html#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
			<li><a class="vk" href="team-single.html#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
		</ul>

		{% categories_list request %}

		</div><!-- end col-md-4 -->
		
		<div class="col-md-8 col-sm-8 col-xs-12 wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="0.50s">
			<h1 class="big"><strong>John</strong> Doe</h1>
			<div class="meta-data BGlight row">
				<div class="col-md-4 col-sm-12">
					Founder
				</div>
				<div class="text-right col-md-8 col-sm-12">
					<strong>150</strong> Projects Done <span>|</span> <strong>07</strong> Projects In Hand
				</div>
			</div>
		
			<div class="clear"></div>
		
			<blockquote>
				<i class="fa fa-quote-left fa-4x"></i>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicula ultricies. Ut tincidunt est vitae justo Phasellus vel tempor sapien. 
		 	</blockquote>
			 
		 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicula ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur. Phasellus vel tempor sapien. Ut scelerisque enim a susccilisis. Sed congue faucibus porta. Morbi sit amet purus erat. Cras urna nisl, porta  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicula ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur. </p>
		 
		 	<div class="gapS"></div>
		 
		 	<h4>Skills</h4>
		 	<span class="line"></span>
		 	<ul class="list-default">
				<li>Anim pariatur cliche reprehenderit, </li>
				<li>enim eiusmod high life accusamus terry richardson ad squi</li>
				<li>moon officia aute, non cupidatat skateboard dolor brunch  </li>
				<li>Brunch 3 wolf moon tempor, sunt aliqua put a bird o</li>
				<li>n it squid single-origin coffee nulla assumenda shoredit</li>
			</ul>
			
			<div class="gapS"></div>
			
			<h4>Qualification</h4>
			<span class="line"></span>
			<ul class="list-main bordered bigIcon">
				<li><h5>Masters Degree in Interior Designer</h5>Awesome University </li>
				<li><h5>Bachelors Degree in VFX</h5>Awesome University </li>
				<li><h5>Bachelors Degree in Computer</h5>Awesome University </li>
			</ul>
		</div><!-- end col-md-4 -->
		
	 </div><!-- end container -->
</section>
<!-- ::: END ::: -->
{% endblock content %}
