{% extends "base.html" %}
{% load core_tags %}
{% load flatblocks %}
{% load cropping %}
						
{% block slider %}
	<section id="slides" class="BGdark">
		<ul class="bxslider">
			<li>
				<img class="img-responsive" src="/static/joyus/images/slider/slide1.jpg" alt="" />
				<div class="symbol">
					<div class="absShape text-center">
						<h1>Striking<small>Welcome to creative world!</small></h1>
					</div>
					<div class="square3 opaque"></div>
					<div class="square2 opaque"></div>
					<div class="square1 opaque"></div>
				</div>
			</li>
			<li>
				<img class="img-responsive" src="/static/joyus/images/slider/slide2.jpg" alt="" />
				<div class="symbol">
					<div class="absShape text-center">
						<h1>Pro Services<small>Wide range of services!</small></h1>
					</div>            
					<div class="square1 opaque"></div>
					<div class="square3 opaque"></div>
					<div class="square2 opaque"></div>
				</div>
			</li>
			<li>
				<img class="img-responsive" src="/static/joyus/images/slider/slide3.jpg" alt="" />
				<div class="symbol">
					<div class="absShape text-center">
							 <h1>Innovative ideas<small>Expert designers with amazing talent!</small></h1>
					</div>            

					<div class="square3 opaque"></div>
					<div class="square2 opaque"></div>
					<div class="square1 opaque"></div>
				</div>
			</li>
		</ul>
	</section>	
{% endblock slider %}


{% block advantages %}
	<section class="page-block-large">
		<div class="container">
				
			<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
				<h3><small>Exclusive</small> DESIGNS</h3><span class="line"></span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis lorem ipsum dola dolor tristiqumsan.</p>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.75s">
				<h3><small>Wide Range</small> VARIETIES</h3><span class="line"></span>
				<p>Etiam aliquam lacinia rutrum. Sed sit amet tortor id eros suscipit semper. Suspendisse nec condimentum metus, nec porttitor risus.</p>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="1s">
				<h3><small>Premium</small> FEATURES</h3><span class="line"></span>
				<p>Quisque sodales ultricies posuere. Vestibulum ante ipsum primis in faucibus orci luctu. Proin scelerisque neque porta astapasta.</p>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="1.25s">
				<h3><small>Industry</small> EXPERTS</h3><span class="line"></span>
				<p>Sed bibendum lectus at cursus pharetra. Donec quis auctor mauris. Aenean ultricies elit augue, eget ultrices ante pretium in.</p>
			</div>
								
		</div><!-- end container -->
	</section>
{% endblock advantages %}


{% block trigger1 %}
	<section class="featured BGprime page-block-small">
		<div class="container wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
			<div class="col-md-12">
					<h1><small>We offer wide range of </small>designs &amp; Services</h1>
			</div>
		</div><!--end-container--> 
	</section>
{% endblock trigger1 %}


