{% extends "base.html" %}
{% load core_tags %}
{% load flatblocks %}
{% load cropping %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Статьи" "post_list" %}
    {% breadcrumb post.name post.get_url %}
{% endblock breadcrumbs %}


{% block content %}
    {% render_breadcrumbs "configs/breadcrumbs/main.html" %}
    <div class="section page-block-large">
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <img width="100%" src="{{ post.get_image_url }}">
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <p>{{ post.text|safe }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
