{% extends "base.html" %}
{% load core_tags %}
{% load flatblocks %}
{% load cropping %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Услуги" "service_list" %}
    {% breadcrumb service.name service.get_url %}
{% endblock breadcrumbs %}


{% block content %}
    {% render_breadcrumbs "configs/breadcrumbs/main.html" %}
    <div class="section">
        <div class="service-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sunhouse-title">
                            <p class="sub-title">Мы совершенствуем наш сервис для Вас</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <img width="100%" src="{{ service.get_image_url }}">
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <p>{{ service.text|safe }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}
