.flatblock.block-home_about.pk-1 ul{
	list-style-type: none;
    padding-left: 0;
}
.flatblock.block-home_about.pk-1 ul i.fa.fa-check-square-o {
    margin-right: 7px;
}
.about-house-content-center {
    margin-top: 40px;
    text-align: center;
}
.block-about-text {
    overflow: hidden;
    float: left;
    margin-top: 50px;
}
.about-house-content-center{
	margin-top: 50px;
}
.block-about-text .sunhouse-title,.about-house-content-center .sunhouse-title {
    margin-bottom: 0px;
}
.contact-pages .fa {
    font-size: 20px;
    color: #008F49;
    margin-right: 7px;
}

.maps {
    margin: 50px 0;
}
.sunhouse-title.content-pages {
    margin-top: 60px;
}
 .content-pages .icon-image img {
    margin: 0 auto;
    width: auto;
}