<div class="modal fade" id="myModal-calculator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Рассчитать стоимость потолка</h3>
            </div>
            <form id="calculator_form">{% csrf_token %}
                <div class="modal-body">
                    <div class="calcilator-modal" style="overflow: hidden">
                        <ul>
                        <li class="cal-li">
                            <label for="">Площадь потолка<span class="fx_waring">*</span></label>
                            {{ form.square }}
                            <span class="fx_input">м²</span>
                        </li>
                        <li class="cal-li">
                            <label for="">Количество углов<span class="fx_waring">*</span></label>
                            {{ form.angle }}
                            <span class="fx_input">шт.</span>
                        </li>
                        <li class="cal-li">
                            <label for="">Фактура полотна<span class="fx_waring">*</span></label>
                            {{ form.tip_polotna }}
                        </li>
                    <li class="cal-li">
                        <div class="form-bottom form-height">
                            <label for="">Отверстие под крючковую люстру:</label>
                            {{ form.perforation }}
                            <span class="fx_input">шт.</span>
                        </div>
                    </li>
                    <li class="cal-li">
                        <div class="form-bottom">
                            <label for="">Трубы уходящие в потолок:</label>
                            {{ form.tube }}
                            <span class="fx_input">шт.</span>
                        </div>
                    </li>
                    <li class="cal-li">
                        <div class="form-bottom">
                            <label for="">Закладная под потолочную люстру:</label>
                            {{ form.zakladnaya }}
                            <span class="fx_input">шт.</span>
                        </div>
                    </li>
                    <li class="cal-li">
                        <div class="form-bottom">
                            <label for="">Стойка под встраиваемый светильник:</label>
                            {{ form.strut }}
                            <span class="fx_input">шт.</span>
                        </div>
                    </li>
                </ul>
                    <div class="col-md-12">
                        {{ form.phone }}
                    </div>
                    <div class="col-md-12 form-text">
                        <p>Отправьте размеры и значения Вашего поталка,мы перезвоним и скажем Вам точную стоимость натяжного потолка.</p>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>